body {
    font-family: 'Permanent Marker', cursive;
}

nav button {
    border: none;
}

.banner-image {
    background: url('../img/cat.jpg')  center center / cover no-repeat;
    color: #FFF;
    font-weight: bolder;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.main-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.divider {
    height: 40px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #080808;
    color: #FFF;
    margin-top: 50px;
}